
body {
    background: whitesmoke;
    color:black;
}
div {
        color: black;
        font-family: "lucida handwriting", cursive, serif;
} 

p {
    display: flex;
    padding: 20px;
}

p > * {
    flex: 1 1 100%;
    flex-wrap: wrap;
}

p:hover {
    transform: scale(1.01);
    box-shadow: 0 0 12px rgba(rgb(1, 39, 39), 0.2);
    cursor: pointer;
  }

  /* *** modal section *** */

  .bg-modal {
      width: 100%;
      height: 100%;
      background-color: rgba(185, 185, 204, 0.7);
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .modal-content {
      width: 300px;
      height: 500px;
      background-color: rgb(171, 189, 180);
      border-radius: 5px;
      text-align: center;
      padding: 20px;
  }

  input {
      width: 50%;
      display: block;
  }
